.App {
  text-align: center;
  margin-bottom: 80px;
}

.footer {
  background-color: #303;
  height: 40px;
  padding: 20px;
  color: white !important;
  font-size: 14px;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #303;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


table.table {
  width: 100%;
  border: 1px solid rgba(3,3,3,0.2);
  border-collapse: collapse;
}

.table th, .table td { 
  text-align: center; 
  padding: 0.25em;
  border: 0.5px solid rgba(3,3,3,0.2);
  vertical-align: middle;
}

.table tr { 
  border-bottom: 1px solid #DDD;
}

table.table, table.table * { box-model: border-box; }

ul li{
  text-align: left;
}

.property-row {
  cursor:pointer;
}

.property-row:hover, .property-row.selected {
  background-color: lightgray;
}

#map * {
  overflow:visible;
}

.map-loading {
  height: 100%;
}

.map-map {
  height: 500px;
}

.property-table-wrapper {
  display: inline-block;
  vertical-align: top;
  height: 500px;
  overflow-y: auto;
  width: 50%;
}

.map-container {
  height: 500px;
  display: inline-block;
  min-width: 300px;
  width: 50%;
}

.map-label {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 200px;
  text-align: left;
  padding: 10px;
  z-index: 11;
}

.map-label .svg-inline--fa {
  padding-right:10px;
  min-width: 20px;
  text-align: left;
}

.map-label-address {
  max-width: 200px;
}

.map-label > div {
  padding-bottom: 5px;
}

.map-marker {
  background-color: green;
}

@media screen and (max-width: 1200px) {
  .property-table-wrapper {
    display: block;
    width: 100%;
  }

  .map-container {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
    display: flex; 
    align-items: center;
    text-align: center; 
    justify-content: center;
  }

  table.table {
    justify-content: center;
    word-break: break-all 
  }
}
